<div fxLayout="row wrap" fxFlexAlign="center center">

    <mat-card class="telainiciaal-promos" *ngFor="let obj of promos">
        <mat-card-header>
            <mat-card-title>{{obj.title}}</mat-card-title>
            <mat-card-subtitle>De {{obj.initPrice | currency: 'BRL'}} por {{obj.endPrice | currency : 'BRL'}}</mat-card-subtitle>

            <span class="example-spacer"></span>
            <mat-chip-list>
                <mat-chip>-{{obj.descont | percent: '2.2-2'}}<mat-icon>local_offer</mat-icon>
                </mat-chip>
            </mat-chip-list>

        </mat-card-header>
        <img matCardImage [src]="obj.thumbnail">
        <mat-card-content>
            <mat-card-subtitle>{{obj.about}}</mat-card-subtitle>
        </mat-card-content>

    </mat-card>
</div>